@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebe8;
}

:root {
  --nunitoSans: "Nunito Sans", sans-serif;
}

.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--nunitoSans);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #778a35;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  color: #d1e2c4;
  padding-bottom: 25px;
}

input {
  height: 50px;
  width: 260px;
  padding-left: 20px;
  background-color: #d1e2c4;
  border: 0;
  color: red;
}

::placeholder {
  color: #778a35;
  opacity: 0.6;
}

#value1 {
  margin-bottom: 20px;
}

button {
  background-color: #31352e;
  color: #d1e2c4;
  height: 40px;
  width: 200px;
  border: 0;
  font-size: 15px;
  margin-top: 40px;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}

button:hover {
  background-color: #454941;
}

p {
  color: #31352e;
  text-align: center;
  font-family: var(--nunitoSans);
  position: absolute;
  top: 08%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
